<!DOCTYPE html>

{% extends "main/base.html" %}

{% block title %}
Login here
{% endblock %}

{% block content %}
  {%if user.is_authenticated %}


    {% load crispy_forms_tags %}

    <form method= "post" class="form-group">
      <h1>Create your invoice</h1>
      <hr class = "mt-0 mb-4">
      <h4>Complete Receiver's informations</h4>
      <hr class = "mt-0 mb-4">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class= "btn btn-success">Register</button>
    </form>

  {% else %}
      <h3>You are not authenticated user</h3>
      <h4>Login <a href = "/login">here</h4>
  {% endif %}
{% endblock %}
