{% extends 'layouts/default/page.html' %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li >{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<head>
  <title>AutoComplete</title>
 <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
 </script>

 <script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
 </script>

 <link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
     rel="stylesheet" type="text/css" />
</head>

{% load i18n %}

{% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
<br><form method="post" style="display:flex;flex-direction:row" >
  {% csrf_token %}

  <body>
  <div>Username or WebId</div>
  <input type="text" id="tags" name="username_or_WebId">
  <script>
  $( function() {
    var availableTags = [
        {% for user in users %}
            "{{user.username}}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
  <input class="btn btn-success" type="submit" value="Add connection" style="color:white;background-color:green;">
  </body>
</form></br>

{% endblock content %}
