{% extends 'layouts/default/page.html' %}


{% block content %}

<head>
  <title>AutoComplete</title>
 <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
 </script>

 <script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
 </script>

 <link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
     rel="stylesheet" type="text/css" />
</head>

{% load i18n %}

{% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
<form method="post" style="display:flex;flex-direction:row" >
  {% csrf_token %}


  <h3>Search</h3>
  <input type="text" id="username" name="username"">
  <script>
  $( function() {
    var availableTags = [
        {% for user in users %}
            "{{user.username}}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>


  <input class="btn btn-success" type="submit" value="Add connection" style="color:white;background-color:green;">
</form>

{% endblock content %}
