{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if errors %}
<ul class="messages">
    {% for error in erros %}
    <li >{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if request.user.is_authenticated %}

  <h1 style="text-align:left;float:left;">{% trans "Profile" %}</h1>
    {% if profile.peppolID %}
    <h2 style="text-align:right;float:right;color:blue;">Verified User <i class="fas fa-check"></i></h2>
    <hr style="clear:both;"/>
  {% endif %}

  <table style="width:100%">
    <tr>
      <th>Userame: </th>
      <td>{{ profile.user.username }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ profile.user.email }}</td>
    </tr>
    <tr>
      <th>Web ID:</th>
      <td>{{ profile.webID }}</td>
    </tr>
    <tr>
      <th>Peppol ID:</th>
      <td>{{ profile.peppolID }}</td>
    </tr>
  </table>

  {% include 'accounts/profile/options.html'%}

{% endif %}

{% endblock content%}
