{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}

  <h2 style="color:green;">Profile info:</h2>
  <table style="width:100%">
    <tr>
      <th>Userame:</th>
      <td>{{ profile.user.username }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ profile.user.email }}</td>
    </tr>
    <tr>
      <th>WebId:</th>
      <td>{{ profile.webID }}</td>
    </tr>
  </table>

  {% include 'accounts/profile/options.html'%}

{% endif %}

{% endblock content%}
