{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Create an account' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <input class="btn btn-success" type="checkbox" id="generate_peppolID" name="generate_peppolID">
        <label for="generate_peppolID">Do you want a new verified Peppol ID?</label>

        <button class="btn btn-success">{% trans 'Create' %}</button>
    </form>

{% endblock %}
