
<ul>
  <table style="width:100%">
    <tr>
      {% for f in connections %}
      <td><a style="color:green;" href="{% url 'accounts:profile' f.id %}">{{ f.username }} </a></td>
    </tr>
      <td><form method="post"  action="{% url 'connection:connection_remove' f.username %}">
            {% csrf_token %}
            <input class="btn" type="submit" value="Remove" style="color:white;background-color:red;" />
          </form></td>
  </table>

{% empty %}
 </ul>
 <div>It's quiet out here..:(</div>
{% endfor %}
</ul>
