{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Change email' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Change' %}</button>

        <p>Due to <a href="https://github.com/pondersource/peppol-python-demo/issues/12">this issue</a> we are not sending emails yet, so please check the Heroku logs for now to find the verification link.</p>

    </form>

{% endblock %}
