{% extends "base.html" %}
{% load i18n %}

{% block content %}

<head>
  <title>AutoComplete</title>
 <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
 </script>

 <script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
 </script>

 <link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
     rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

</head>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li >{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>{% trans "Compose Message"%} <i class="fas fa-pencil-alt"></i></h1>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}

  <b>Recipient <input style="margin-left: 24px; type="text" id="tags" name="recipient" required placeholder="Username-WebID-PeppolID"> </b>
  <script>
  $( function() {
    var availableTags = [
        {% for user in priority %}
            {% if user in connections%}
            "{{user}} OK",
            {% else %}
            "{{user}}",
            {% endif %}
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
  <table>
  {{ form.as_table }}
</table>
<b><label for="xml">Type:</label></b>

<select name="xml" id="xml">
  <option value="simple">Simple message</option>
  <option value="invoice">Invoice</option>
  <option value="purchase">Purchase order</option>
</select>

<b><label for="peppol">Send through:</label></b>

<select name="peppol" id="peppol">
  <option value=False>AS4 direct</option>
  <option value=True>Peppol classic</option>
</select>

  <input class="btn btn-success" type="submit" value={% trans "Send" %} &raquo; style="color:white;background-color:green;"/>
</form>

{% endblock content%}
