{% extends 'main/messages.html' %}
{% load i18n %}
{% load connectiontags %}
{% block content %}

<a style="color:purple;"> Supplier <i class="fas fa-user"></i> <i class="fas fa-check"></i></a>
<a style="color:#F7B9B7;"> Costumer <i class="fas fa-user"></i> <i class="fas fa-check"></i></a>
<a style="color:green;"> Contact <i class="fas fa-user"></i></a>
<a style="color:orange;"> Unknown <i class="fas fa-user"></i></a>


<h1> {% trans "Messages  TO FIX " %}</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li >{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if message_list %}

<table class="messages">

  <table style="width:100%">
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Subject</th>
      <th>Received</th>
      <th></th>
    </tr>
    {% for message in message_list %}

    <tr>
      <td>
        {% if message.sender not in suppliers %}
          {% if message.sender in connections%}
          <a style="color:green;" href="{% url 'accounts:profile' message.sender.id %}"> {{ message.sender }} <i class="fas fa-user"></i></a>
          {% else %}
          <a style="color:orange;" href="{% url 'accounts:profile' message.sender.id %}"> {{ message.sender }} <i class="fas fa-user"></i></a>
          {% endif %}
      </td>
      <td>
        {% if message.new %}<strong>{% endif %}
      {% if message.replied %}<em>{% endif %}
      <a style="color:blue;" href="{% url 'django_messages:messages_detail' message.id %}">{{ message.subject }}</a>
      {% if message.replied %}</em>{% endif %}
      {% if message.new %}</strong>{% endif %}
      </td>

      <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
      <td>

          <form method="post"  action="{% url 'django_messages:messages_delete' message.id %}">
             {% csrf_token %}
             <input class="btn btn-success"   type="submit" value="Delete" &raquo; style="color:white;background-color:grey;border: 2px solid grey;" />
          </form>
      </td>
{% endif %}
{% endfor %}
</table>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}
{% endblock %}
