{% extends 'main/messages.html' %}
{% load i18n %}
{% load connectiontags %}
{% block content %}

<h1>{% trans "Costumers" %}</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li >{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if message_list %}

<table class="messages">

  <table style="width:100%">
    <tr>
      <th>Costumers</th>
      <th>Subject</th>
      <th>Received</th>
      <th></th>
    </tr>
    {% for message in message_list %}

    <tr>
      <td>
        {% if message.sender in connections %}
          <a style="color:green;" href="{% url 'accounts:profile' message.sender.id %}"> {{ message.sender }} <i class="fas fa-user"></i></a>
        {% else %}
          <a style="color:orange;" href="{% url 'accounts:profile' message.sender.id %}"> {{ message.sender }} <i class="fas fa-user"></i></a>
        {% endif %}
      </td>

      <td>
      {% if message.replied %}<em>{% endif %}
      <a style="color:blue;" href="{% url 'django_messages:messages_detail' message.id %}">{{ message.subject }}</a>
      {% if message.replied %}</em>{% endif %}
      </td>

      <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
      <td>

          <form method="post"  action="{% url 'django_messages:messages_delete' message.id %}">
             {% csrf_token %}
             <input class="btn btn-success"   type="submit" value="Delete" &raquo; style="color:white;background-color:grey;border: 2px solid grey; " />
          </form>
      </td>

{% endfor %}
</table>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}
{% endblock %}
