{% extends "base.html" %}
{% load i18n %}
{% load connectiontags %}
{% load static %}

{% block content %}

<link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet"/>

<a style="color:purple;"> Supplier <i class="fas fa-user"></i> </a>
<a style="color:#F7B9B7;"> Costumer <i class="fas fa-user"></i> </a>
<a style="color:green;"> Contact <i class="fas fa-user"></i></a>
<a style="color:orange;"> Unknown <i class="fas fa-user"></i></a>


<h1>{% trans "View Message" %}</h1>

{% if errors %}
<ul class="messages">
    {% for error in erros %}
    <li >{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<dl class="message-headers">

  <table style="width:100%">

    <tr>
      <th>Subject:</th>
      <td><strong>{{ message.subject }}</strong></td>
    </tr>
    <tr>
      <th>Sender:</th>
        <td>{% if message.sender in connections %}
                {% if message.sender in suppliers and message.sender in costumers %}
                <a style="color:green;" href="{% url 'accounts:profile' message.sender.id %}">{{ message.sender }} <a style="color:#F7B9B7;"  <i class="fas fa-user"></a><a style="color:purple;"  <i class="fas fa-user"></a></a>
                {% elif message.sender in costumers %}
                  <a style="color:green;" href="{% url 'accounts:profile' message.sender.id %}">{{ message.sender }}<a style="color:#F7B9B7;"  <i class="fas fa-user"></a></a>
                {% elif message.sender in suppliers %}
                  <a style="color:green;" href="{% url 'accounts:profile' message.sender.id %}">{{ message.sender }}<a style="color:purple;"  <i class="fas fa-user"></a></a>
                {% else %}
                  <a style="color:green;" href="{% url 'accounts:profile' message.sender.id %}">{{ message.sender }}</a>
                {% endif %}
            {% elif message.sender == user %}
              <a href="{% url 'accounts:profile' message.sender.id %}">{{ message.sender }} </a>
            {% else %}
              <a style="color:orange;" href="{% url 'accounts:profile' message.sender.id %}">{{ message.sender }} </a>
            {% endif %}
        </td>
    </tr>

    <tr>
      <th>recipient:</th>
        <td>{% if message.recipient in connections %}
                {% if message.recipient in suppliers and message.recipient in costumers %}
                <a style="color:green;" href="{% url 'accounts:profile' message.recipient.id %}">{{ message.recipient }} <a style="color:#F7B9B7;"  <i class="fas fa-user"></a><a style="color:purple;"  <i class="fas fa-user"></a></a>
                {% elif message.recipient in costumers %}
                  <a style="color:green;" href="{% url 'accounts:profile' message.recipient.id %}">{{ message.recipient }}<a style="color:#F7B9B7;"  <i class="fas fa-user"></a></a>
                {% elif message.recipient in suppliers %}
                  <a style="color:green;" href="{% url 'accounts:profile' message.recipient.id %}">{{ message.recipient }}<a style="color:purple;"  <i class="fas fa-user"></a></a>
                {% else %}
                  <a style="color:green;" href="{% url 'accounts:profile' message.recipient.id %}">{{ message.recipient }}</a>
                {% endif %}
            {% elif message.recipient == user %}
              <a href="{% url 'accounts:profile' message.recipient.id %}">{{ message.recipient }} </a>
            {% else %}
              <a style="color:orange;" href="{% url 'accounts:profile' message.recipient.id %}">{{ message.recipient }} </a>
            {% endif %}
        </td>
    </tr>

    <tr>
      <th>Date:</th>
      <td>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</td>
    </tr>


    <tr>
      <th>Message:</th>
        <td>{{ message.body|linebreaksbr }}
        </td>
    </tr>

      {% if message.xml %}
          <tr>
          {% if message.xml_type == 'invoice' %}
            <th>Invoice: <i style="color:Mediumslateblue;" class="fas fa-file"></i></th>
          {% elif message.xml_type == 'purchase' %}
              <th>Purchase order: <i style="color:#30BAA1;" class="fas fa-file"></i></th>
          {% endif %}
          <td><a href="{{message.invoice.url}}" download> Download File</a></td>
          </tr>
          <br>

          {% if message.xml_type == 'invoice' %}
            {% if message.sender not in suppliers and message.sender != user  %}

            <form  action="" method="post">
            {% csrf_token %}
              <div>
                <input class="btn btn-success" type="checkbox" id="accept" name="accept">
                <label for="accept">Do you trust {{ message.sender }} as a supplier?</label>
              </div>
              <div>
                <button  class="btn btn-success" id='username' name='username' value={{ message.sender }} type="submit">Submit</button>
              </div>
            </form>
            {% endif %}

          {% elif message.xml_type == 'purchase' %}
            {% if message.sender not in costumers and message.sender != user  %}

            <form  action="" method="post">
            {% csrf_token %}
              <div>
                <input class="btn btn-success" type="checkbox" id="accept" name="accept">
                <label for="accept">Do you accept {{ message.sender }} as a costumer?</label>
              </div>
              <div>
                <button  class="btn btn-success" id='username' name='username' value={{ message.sender }} type="submit">Submit</button>
              </div>
            </form>
            {% endif %}
          {% endif %}
        {% endif %}
    <tr>
      <th>Sent through:</th>
        {% if message.peppol_classic %}
        <td>Peppol Classic <img src="{% static 'img/peppol.png' %}"> </td>

        {% else %}
        <td>AS4</td>
        {% endif %}
    </tr>
    <br>
    <tr>
      {% ifequal message.recipient.pk user.pk %}
      <a  style="color:blue;" href="{% url 'django_messages:messages_reply' message.id %}">{% trans "Reply" %}</a>
      {% endifequal %}

      <a  style="color:red;" href="{% url 'django_messages:messages_delete' message.id %}">{% trans "Delete" %}</a>

      {% comment %}Example reply_form integration
    </tr>

    {% if reply_form %}
    <br>
    <th>Reply:</th>
    <tr>
      <form action="{% url 'django_messages:messages_reply' message.id %}" method="post">
      {% csrf_token %}
      <table>
      {{ reply_form.as_table }}
      </table>
      <input  class="btn btn-success" type="submit" value="{% trans "Send" %} &raquo;"/>
      </form>
    </tr>
    {% endif %}

    {% endcomment %}
  </table>

{% endblock %}
