{% load i18n %}

<style>
  right: 0;
</style>
<ul class="subnavilist">

  <a class="navbar-brand" href="{% url 'connection:connection_request_list' %}">&raquo;&nbsp;{% trans 'Connection Requests ' %}</a>
  <a class="navbar-brand" href="{% url 'connection:connection_requests_sent' %}">&raquo;&nbsp;{% trans 'Sent Connection Requests ' %}</a>
  <a class="navbar-brand" href="{% url 'connection:connection_requests_rejected' %}">&raquo;&nbsp;{% trans 'Rejected Requests' %}</a>
  <a class="navbar-brand" href="{% url 'connection:connection_request_send' %}">&raquo;&nbsp;{% trans 'Make a new Request' %}</a>
  <a class="navbar-brand" href="{% url 'connection:connection_view_connections' user.username %}">&raquo;&nbsp;{% trans 'My Contacts' %}</a>
  <a class="navbar-brand" href="{% url 'connection:connection_blockers' user.username %}">&raquo;&nbsp;{% trans 'My Blockers' %}</a>
  <a class="navbar-brand" href="{% url 'connection:connection_blocking' user.username %}">&raquo;&nbsp;{% trans 'My Blockings' %}</a>

</ul>
